<div class = "createContainer">
	<span style="font-size: 18px; font-weight: 450">Task : </span>
	<input class="inputs" type="text" ng-model="taskName">
	<br><br>
	<span id="subheading">Subtask :</span> 
	
	
	<li ng-repeat="_ in controller.inputFields">
		<input class="inputs" type="text" ng-model="subName">
		<button ng-click="controller.addSub(subName);">Save Subtask</button>
		<button ng-click="controller.removeInputField()">Remove</button>

	</li>
	<br>
	<button class="SubTaskButton" ng-click="controller.addInputField()">Add Subtasks</button>
	

	<br>

	<button class="TaskButton" ng-click="controller.addItem(taskName)">Add Task To List</button>
	<hr>
	
</div>