<div>
	<h3>Edit To-Do List</h3>
	<div>
		Edit Task : 
		<input type="text" ng-model="taskName">
		<br><br>
		Edit Subtask : 
		
		<li ng-repeat="_ in controller.inputFields">
			<input type="text" ng-model="subName">
			<button ng-click="controller.addSub(subName);">Save Subtask</button>
			<button ng-click="controller.removeInputField()">Remove</button>

		</li>
		<button ng-click="controller.addInputField()">Add More Subtasks</button>
		

		<br>

		<button ng-click="controller.editItem(taskName)">Edit Task in List</button>
		<hr>


	</div>
</div>