<div >
	<li ng-repeat="itemTask in controller.items track by $index">
		{{itemTask.tasks}}<br>
		{{itemTask.subtasks}}
		<button ng-href="#/edit">Edit</button>
		<button ng-click="controller.deleteItem(index)">Delete Task</button>
	</li>
</div>