.navbar-dark{
	background-color: #ffa726;
	opacity: 0.8;
	height: 6.58%;
	border-bottom-right-radius:8px; 
	border-bottom-left-radius: 8px; 
}

.navbar{
	height: 7%;
}

.links{
	color: #000;
	font-weight: 600;
	text-decoration: none;
}

.links:hover{
	text-decoration: none;
}

#mainHeading{
	font-size: 35px;
	margin: 0 auto;
	text-align: center;
	color: #000;
}

.nav-item{
	border-right: 1px solid #353535;
	border-top-right-radius: 2px;
}

#headingContainer{
	margin: 3.5% 0 2% 0;
	background-color: #ffd54f !important;
}

#homepageHeading{
	height: 20%;
	text-align: center;
	padding:2% 0 2% 0;
}

#main{
	margin: 0 auto;
	border: 1px solid black;
	padding: 1% 10% 0 10%;
	background-color: #039be5;
	height: 70vh;
	border-radius: 5% 28%;
}

.inputs{
	margin-left:5%;
	margin-bottom: 0.5%;
}

#subheading{
	margin-left: 2%;
	font-size: 16px;
	font-weight: 400;
}

.TaskButton{
	margin: 5% 0 0.5% 5%;
}

.SubTaskButton{
	margin: 2% 0 2% 10%;
}

.createContainer{
	border: 1px solid black;

